/*header*/

.header{
	position: fixed;
}
/*navigation*/
.nav {
	position: absolute;
	right: 0;
	top: -15px;
	height: 60px;
	display: none;
}
.nav ul li {
	float: left;
	list-style: none;
}
.nav ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0 10px;
}
.hide{
	display:none;
}
.show{
	display:block;
	text-align: center;
	padding-top: 10px;
}
/*footer*/
.footer{
	font-size: 10px;
}
.resultbtn{
	padding: 2% 5% !important;
	font-size: 18px !important;
}
/*buttons*/
.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
    border-radius: 4px;
}

.btn:hover{
	color: #fff;
}
.btn1{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn2{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn3{
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.a-box input[type="file"] {
    display: none;
}
.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 10px;
}

.btn4{
	border: 2px solid gray;
	color: gray;
	background-color: white;
	padding: 3px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
}
.progree-text{
	color: #fff;
	font-weight: 800;
}
.btn4:hover{
	cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.a-path{
	max-height:20px;
	max-width:150px;
	border : 1px solid #000;
}
.a-box{
	margin-top: 15px;
}
.a-input{
	text-align: center;
	padding-top: 30px;
}
.b-header{
	color: #000;
	padding-top: 0px;
	padding-bottom: 15px;
}
.b-subheader{
	color: #000;
	font-weight: 500;
	padding-top: 10px;
}

/*radio buttons*/
.b-radio{
	margin: 8px;
}
.b-named{
	padding: 10px;
}
.b-rule{
	padding: 10px;
}
.b-checkbox{
	margin: 10px;
}
.b-finish{
	float: right;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
.container {
	position: relative;
	margin: 0 auto;
	width: 94%;
	max-width: 1100px;
	font-family: helvetica, sans-serif;
	}
.content {
	position: relative;
	padding-top: 80px;
}
.content p {
	margin-bottom: 10px;
}
#header {
	z-index: 2;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #222;
	color: white;
}
/*progress bar*/
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}
#header h1 {
	top: 0px;
	margin: 0px;
	text-transform: uppercase;
	font-size: 1.2em;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
	display: block;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	padding: 50px 0;
	font-weight: 400;
	text-align: center;
}

p {
	margin: 0 0 20px;
	line-height: 1.5;
}
/*main tag*/
main {
	min-width: 320px;
	max-width: 100%;
	min-height: 602px;
	padding: 60px 50px 50px 50px;
	margin: 0 auto;
	background: #fff;
}
main > input {
	display: none;
}
section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}
label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

label[for*='1']:before {
	content: '\f1cb';
}

label[for*='2']:before {
	content: '\f17d';
}

label[for*='3']:before {
	content: '\f16b';
}

label[for*='4']:before {
	content: '\f1a9';
}

label:hover {
	color: #888;
	cursor: pointer;
}

input:checked + label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid orange;
	border-bottom: 1px solid #fff;
}

@media screen and (max-width: 650px) {
	label {
	font-size: 0;
	}

	label:before {
	margin: 0;
	font-size: 18px;
	}
}

@media (max-width: 599px) {
	#header .container {
		width: 100%;
	}
	#header h1 {
		padding-left: 3%;
	}
	.nav {
		width: 100%;
		top: 60px;
	}
  .nav:before {
    content: '\2630';
    display: block;
    position: absolute;
    right: 3%;
    top: -50px;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
  }
  .nav ul {
    background: #222;
    width: 100%;
    margin: 0px;
  }
  .nav ul li {
    float: none;
  }
  .nav ul li a {
    padding: 10px 3%;
    line-height: 20px;
    border-top: 1px solid #333;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

