/*Hamburger Icon*/
.h-icon{
	width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
	border: 1px solid #000;
}
/*clear button*/
.clr-btn{
	width : 40%;
	float: right;
}
/*upper table*/
.upertable{
	display: block;
    width: 60%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.outer-div{
	padding: 1%;
	text-align: center;
}
.sub-cnt{
	width: 100%;
    display: inline-flex;
}
/*first table */
.first{
	padding: 15px;
	width: 30%;
	color: #000;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 30px;
	display: inline-flex;
}
.btnc{
	float: right;
}
.b-header{
	color: #000;
	padding-top: 0px;
	padding-bottom: 10px;
}
/*Second table*/
.second{
	padding: 15px;
	width: 30%;
	color: #000;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 30px;
	display: inline-flex;
}

/*buttons*/
.btn1{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn2{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn3{
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
    border-radius: 4px;
}
.act-btn{
	padding: 10px;
}
.h-i-container{
	position: absolute;
    left: 0%;
    top: 9%;
	background-color: #000;
	padding: 7px;
	z-index: 111;
	cursor: pointer;
}
.close{
	float: right;
	cursor: pointer;
	z-index: 123;
}
.section1{
	position: absolute;
	margin-top: 60px;
	margin-left: -273px;
	padding: 10px 10px 25% 10px;
	width: 20%;
	background-color: #000;
	color: #fff;
	float: left;
	z-index: 10;
}
.pure-menu-heading{
	text-align: center;
}
.section2{
	width: 100%;
	float: right;
}
.pure-menu-list{
	padding: 20px;
    list-style: none;
}
.pure-menu-list > li{
	padding: 10px 5px;
	border-bottom: 1px solid #fff;
}
.pure-menu-list > li:hover{
	background-color: #fff;
	color: #000;
	cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}
.content {
  position: relative;
  padding-top: 65px;
}
.content p {
  margin-bottom: 10px;
}
#header {
  z-index: 2;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #222 !important;
  color: white;
}

/*header*/
.header{
	position: fixed;
}
#header h1 {
  top: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1.2em;
}


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}
.footer > .container{
	width: 100%;
	padding: 15px;
}
.container {
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
/*footer*/
.footer{
	position: absolute;
	bottom: 0;
	color: #fff;
	font-size: 10px;
	background-color: #000;
	width: 100%;
  font-family: helvetica, sans-serif;
}
.back-btn{
	position: absolute;
	bottom: 13%;
	right: 5%;
	cursor: pointer;	
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	border: 1px solid transparent;
    border-radius: 4px;
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.back-btn > a{
	color: #fff;
	text-decoration: none;
}


